@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Grand+Hotel&subset=latin,latin-ext);
header {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	background-color: #9EDAD3;
	height: 350px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

nav {
	height: 150px;
	width: 960px;
	background-color: #6ED6BF;
	display: block;
	
	box-shadow: 0px 4px 10px 0px rgba(102,102,102,1);
	float: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	-webkit-transition: all;
	-moz-transition: all;
	-ms-transition: all;
	-o-transition: all;
	transition: all;
}
body {
	background-color: rgba(158,218,211,1);

}
footer {
	background-color: #0CC;
	height: 75px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	margin-top: 125px;
}
.catalogo {
	height: 700px;
	width: 888px;
}
.producto img {
	display: block;
	width: 250px;
	height: auto;
}

.producto {
	background-color: rgba(110,214,191,1);
	float: left;
	display: block;
	margin-top: 25px;
	margin-left: 35px;
	height: 300px;
	text-align: center;
	font-family: 'Grand Hotel', cursive;
	color: rgba(255,255,255,1);
	font-size: 36px;
	text-decoration: none;
	font-weight: lighter;
	box-shadow: 0px 4px 10px rgba(102,102,102,1);
}
.btn1 {
	text-decoration: none;
	color: #6ED6BF;
	display: block;
	text-align: center;
	float: left;
	width: 150px;
	margin-top: 100px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 37px;
	font-family: Arial, Helvetica, sans-serif;
	height: 53px;
	font-size: 25px;
	clear: none;
	vertical-align: middle;
	position: static;
	box-shadow: 0px 4px 10px rgba(102,102,102,1);
	background-image: url(boton.png);
	padding-top: 27px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.btn2 {
	text-decoration: none;
	color: #6ED6BF;
	display: block;
	text-align: center;
	float: left;
	width: 150px;
	margin-top: 100px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 19px;
	font-family: Arial, Helvetica, sans-serif;
	height: 53px;
	font-size: 25px;
	clear: none;
	vertical-align: middle;
	position: static;
	box-shadow: 0px 4px 10px rgba(102,102,102,1);
	background-image: url(boton.png);
	padding-top: 27px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.btn3 {
	text-decoration: none;
	color: #6ED6BF;
	display: block;
	text-align: center;
	float: left;
	width: 150px;
	margin-top: 100px;
	margin-right: 19px;
	margin-bottom: 15px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	height: 53px;
	font-size: 25px;
	clear: none;
	vertical-align: middle;
	position: static;
	box-shadow: 0px 4px 10px rgba(102,102,102,1);
	background-image: url(boton.png);
	padding-top: 27px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.btn4 {
	text-decoration: none;
	color: #6ED6BF;
	display: block;
	text-align: center;
	float: left;
	width: 150px;
	margin-top: 100px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	height: 53px;
	font-size: 25px;
	clear: none;
	vertical-align: middle;
	position: static;
	box-shadow: 0px 4px 10px rgba(102,102,102,1);
	background-image: url(boton.png);
	padding-top: 27px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

.cuerpo {
	width: 888px;
	height: ;
	text-decoration: none;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	
	display: block;
	
}
.home {
	height: 98px;
	width: 244px;
	margin-bottom: 0px;
	margin-top: 25px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	padding-top: 0px;
	border-radius: 80px;
	margin-right: 0px;
	margin-left: 0px;
	display: block;
	float: left;

}
nav a {
	height: 58px;
	padding-top: 22px;
}
.cuerpo .columnasv {
	display: block;
	float: left;
	height: 600px;
	width: 200px;
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 4px 10px rgba(102,102,102,1);
	margin-left: 44px;
}
.cuerpo .columnasv1 {
	display: block;
	float: left;
	height:400px;
	width: 200px;
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 4px 10px rgba(102,102,102,1);
	margin-left: 44px;
}
.cuerpo .columnash {
	display: block;
	float: left;
	height: 400px;
	width: 400px;
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 4px 10px rgba(102,102,102,1);
}
.cuerpo .columnash1 {
	display: block;
	float: left;
	height: 200px;
	width: 644px;
	background-color: rgba(255,255,255,1);
	box-shadow: 0px 4px 10px rgba(102,102,102,1);
	margin-top: 50px;
	margin-bottom:150px;
}

.cuerpo title {
	background-color: rgba(110,214,191,1);
	display: block;
	height: 80px;
	width: 868px;
	margin-bottom: 50px;
	box-shadow: 0px 4px 10px rgba(102,102,102,1);
	font-family: 'Grand Hotel', cursive;
	font-size: 50px;
	color: rgba(255,255,255,1);
	padding-left: 20px;
}
#thumbs li {
	float: left;
}
